/*Hi-Top CSS by Gian Carlo Egamino - Version 1.0*/
@font-face {
    font-family: R-Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: R-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}
*{
	font-family: R-Regular;
}
html{
	height: 100%;
	position: relative;
}


/*Wrapper Settings*/
body{
	background: #f2f2f2;
}
#login-body .main-wrapper{
	width: auto;
}
.main-wrapper{
	/*width: 1366px;*/
}

/*Navigation Bar*/
.header-nav{
	width: 100%;
	float: left;
	background: #e74c3c;
	border-bottom: 2px rgba(214, 68, 55, 0.4) solid;
}
.header-nav > .version{
	font-family: R-Regular;
	font-size: 12px;
	padding: 8px;
	text-transform: uppercase;
	color: #fff;
}
.header-nav > .user-creds{
	font-family: R-Regular;
	font-size: 12px;
	color: #fff;
}
.header-nav .user-creds .user-btn{
	border-radius: 0px !important;
	border: none !important;
	padding: 8px;
	font-size: 12px;
	font-family: R-Regular;
	text-transform: uppercase;
	color: #fff;
	background: #e74c3c;
}
.header-nav > .user-creds > a .ez-menu{
	float: left;
	padding: 8px;
	text-transform: uppercase;
	color: #fff;
}
.header-nav > .user-creds > a .ez-menu:hover,
.header-nav .user-creds .user-btn:active,
.header-nav .user-creds .user-btn:focus{
	background: #bf1e18;
}


/*Sidebar*/
.sidebar{
	width: 18.7%;
	height: 100%;
	margin-left: 15px;
	margin-top: 10px;
}
.sidebar > .sidebar-links-panel .sidebar-group:first-child{
	margin-top: 0px;
}
.sidebar > .sidebar-links-panel .sidebar-group{
	margin-top: 15px;
	border: 1px solid transparent;
	border-color: #ddd;
	box-shadow: 0px 0px 8px -2px #ddd;
	border-radius: 4px;
	background: #fff;
}
.sidebar > .sidebar-links-panel .sidebar-group .header:first-child{
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.sidebar > .sidebar-links-panel .sidebar-group .header{
	background: #00923F;
	font-family: R-Bold;
	font-weight: 100;
	font-size: 12px;
	text-transform: uppercase;
	text-align: left;
	color: #fff;
	padding: 10px;
}
.sidebar > a .sidebar-logo .mainlogo{
	width: 120px;
	height: 120px;
}
.sidebar > .sidebar-links-panel .sidebar-group a{
	color: #000;
}
.sidebar > .sidebar-links-panel .sidebar-group a{
	text-decoration: none;
}
.sidebar > .sidebar-links-panel .sidebar-group a .link{
	padding: 8px 10px;
	font-family: R-Regular;
	font-size: 12px;
	text-align: left;
	cursor: pointer;
}
.sidebar > .sidebar-links-panel .sidebar-group a .link:hover{
	background: #f7f7f7;
	border-left: 2px #00923F solid; 
}


/*Main Content*/
.main-content{
	width: 78%;
	margin-right: 15px;
	margin-top: 15px;
	min-height: 534px;
}
.main-content > .module-title{
	font-size: 35px;
	text-align: left;
	font-family: R-Regular;
}
.main-content > .content-form{
	box-shadow: 0px 0px 8px -2px #ddd;
	float: left;
	width: 100%;
	border-radius: 4px;
	border: 1px solid transparent;
	border-color: #ddd;
	margin-top: 15px;
}
.main-content > .breadcrumbs-panel ol{
	background: #fff;
	font-family: R-Regular;
	font-size: 14px;
	border: 1px solid transparent;
	border-color: #ddd;
	margin-bottom: 0px;
}
.main-content > .content-form .form-header{
	padding: 12px 15px;
	font-size: 14px;
	background: #F5F5F5;
	border-bottom: 1px solid transparent;
	border-color: #ddd;
	float: left;
	width: 100%;
	font-family: R-Regular;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.main-content > .content-form .form-body{
	float: left;
	width: 100%;
	background: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-bottom: 15px;
}
.sub-panel{
	padding: 4px 15px;
	border-top: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	background: #f2f2f2;
	text-align: center;
	margin-top: 15px;
	width: 100%;
	float: left;
}
/*Login*/
.login-wrapper{
	width: 543px;
	min-height: 553px;
}
.login-panel{
	background: #fff;
	box-shadow: 0px 0px 8px -2px #ddd;
	position: relative;
	margin-top: 165px;
	float: left;
	width: 100%;
	border-radius: 10px;
	padding: 20px;
	border-bottom: 5px #f2f2f2 solid;
}
.login-logo{
	width: 170px;
	height: 170px;
	float: left;
}
.login-panel > .login-creds{
	float: right;
	font-family: R-Regular;
	font-size: 16px;
	margin-bottom: 15px;
	margin-right: 15px;
}
.login-panel > .login-creds .login-fields{
	width: 291px;
}
.login-panel > .login-creds .login-fields div{
	margin-top: 15px;
}

/*Footer*/
.footer{
	margin-top: 15px;
	padding: 15px; 
	font-family: R-Regular;
	font-weight: 100;
	font-size: 13px;
	background: #fff;
	border-top: 2px #07438C solid;
	float: left;
	width: 100%;
	text-align: center;
}

/*Bootstrap Mods*/
.form-control.mod{
	width: auto;
	display: inline-block;
}
.btn{
	font-family: R-Regular;
	vertical-align: top;
}

/*Special Classes*/
#loadingimg{
	width: 50px;
}
.max-row{
	float: left;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
.lblmsg{
	text-align: center;
	font-size: 22px;
	font-family: R-Regular;
}
.danger{
	color: #E74C3C;
}
.success{
	color: #00923F;
}
.info{
	color: #2E8ECE;
}
.warning{
	color: #ddae13;
}
.txt-data{
	font-family: R-Regular;
	font-size: 22px;
}
.user-check-group{
	width: 100%;
	float: left;
}
.user-check-group > .input{
	float: left;
	text-align: right !important;
	width: 38%;
	margin-top: -2px;
}
.user-check-group > .text{
	float: right;
	text-align: left !important;
	width: 61%;
}
.divider-line{
	float: left;
	margin-top: 15px;
	width: 100%;
	border-top: 1px #ddd solid;
}

/*Table Form Fields*/
.tbl-filters table td,
.tbl-form table td,
.tbl-total table td{
	padding: 3px;
}
.tbl-form.max table{
	width: 100%;
}
.tbl-checkbtn{
	float: left;
	margin-left: 5px;
	margin-top: 3px;
}
.tbl-checkbtn input{
	float: left;
	margin-right: 5px;
}
.tbl.user td{
	vertical-align: top;
}
.tbl-total table td{
	font-size: 20px;
	font-family: R-Bold;
}
.tbl-po{
	width: 100%;
	height: 194px;
	overflow-y: auto; 
}


/*Module Classes*/
.po-container{
	width: 400px;
}
.po-container > .po-chkbx{
	width: 47%;
	background: #417a94;
	color: #fff;
	padding: 10px;
}
/*Mozilla Firefox Override CSS*/
/*@-moz-document url-prefix() {
	.tbl-filters table td select{
		width: 100%;
	}
}*/