/*Table Style CSS by Gian Egamino*/
.tbl.single table:last-child{
	margin-top: 0px;
	margin-bottom: 0px;
}
.tbl.max table:first-child{
	width: 100%;
}
.tbl table:first-child{
	border: 1px #ddd solid;
}
.tbl table:first-child td{
	border-collapse: collapse;
	padding: 8px;
	text-align: left;
	font-size: 14px;
	border: 1px #ddd solid;
}
.tbl table:first-child .tableheader td{
	background: #5C7375;
	color: #fff;
	font-family: R-Regular;
	font-size: 16px;
	border: none;
}
.tbl table:first-child tr:hover{
	background: #FCF4D4;
	cursor: pointer;
}
.tbl tr:nth-child(odd){
	background: #fff;
}
.tbl tr:nth-child(even){
	background: #F4F2F2;
}
.tbl table:last-child{
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px #ddd solid;
}
.tbl table:last-child td{
	padding: 5px;
	text-align: center;
}
.tbl table:last-child td input{
	text-align: center;
}
.tbl table:last-child td input[type*="text"]{
	width: 60px;
	text-align: center;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.tbl table:last-child td input[type*="button"]{
	background: #2E8ECE;
	border-color: #2E8ECE;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
}
.tbl table:last-child td input[type*="button"]:hover,
.tbl table:last-child td input[type*="button"]:focus,
.tbl table:last-child td input[type*="button"].focus, 
.tbl table:last-child td input[type*="button"]:active{
	background: #247cb7;
	border-color: #247cb7;
}
.tddelete, 
.tdview,
.tdupdate{
	vertical-align: center;
	text-align: center !important;
	width: 40px;
}
.tddelete .fa-close{
	color: #e74c3c;
}
.tblstyle{
	border-collapse: collapse;
	width: 100%;
}
.tdid, .tdheader_id, .tdwaybillid, .tdwaybillheader_id{
	display: none;
}
